@using UTIL
@using UTIL.Objetos
@{
    ViewBag.Title = "CambioPassword";
    List<ObjetoUsuario> ListaUsuarios = ViewBag.ListaUsuarios;
}
<script src="~/WebJs/Mantenedor/Usuarios/CambiarClave.js"></script>

<center><h1 style="color:white">@SessionVariables.Session_Datos_Usuarios.Nombre</h1></center>

<form class="form-horizontal" role="form">
    <div class="form-group row">
        @*<input type="text" style="display:none;" id="IdUsuario" name="IdUsuario" />*@
        <input type="text" style="display:none" id="Id" name="Id" placeholder="usuarioId" required value=@SessionVariables.Session_Datos_Usuarios.IdUsuario>
    </div>
    <div class="form-group row">
        <label class="col-form-label">Nueva contraseña</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="NewContrasena" placeholder="Contraseña" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label">Repita contraseña</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="ConfirmaContrasena" placeholder="Contraseña" required />
        </div>
    </div>

    <div class="login-buttons">
        @*<input type="submit" id="Login" class="btn btn-primary" value="Cambiar Clave" />*@
        <button  type="submit" id="ModificarClave" class="btn btn-primary" onclick="ModificarClave()">Modificar</button>
    </div>
    <hr>
    <p class="text-center text-black mb-0">
        &copy; FiconLtda.
    </p>
</form>