@using UTIL
@using UTIL.Objetos
@{
    ViewBag.Title = "CambioPassword";
}

<center><h1 style="color:white">@SessionVariables.Session_Datos_Usuarios.Contresena</h1></center>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Servicios Clientes</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="autor" />

    <!-- ======= BEGIN BASE CSS STYLE ======= -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/assets/css/default/app.min.css" rel="stylesheet">
    <!-- ======= END BASE CSS STYLE ======= -->
</head>
<body class="pace-top pace-done">
    <input type="hidden" id="urllogin" value="@Url.Action("Login", "Login")" />
    <input type="hidden" id="urlIndex" value="@Url.Action("Index","Home")">
    <div class="login-header">
        <div class="brand">
            <span class="logo"></span> <b>Servicios Clientes</b>
            <small>Login cliente</small>
        </div>
    </div>

    <div class="login-content">
        <div class="form-group m-b-15">
            <input type="password" class="form-control form-group-lg" id="Contrasena" name="Contrasena" placeholder="Contraseña" required>
        </div>
        <div class="form-group m-b-15">
            <input type="password" class="form-control form-group-lg" id="NewContrasena" name="NewContrasena" placeholder="Contraseña" required>
        </div>
        <div class="form-group m-b-15">
            <input type="password" class="form-control form-group-lg" id="ConfirmaContrasena" name="ConfirmaContrasena" placeholder="Contraseña" required>
        </div>
        <div class="login-buttons">
            <input type="submit" id="Login" class="btn btn-primary" value="Cambiar Clave" />
        </div>
        <hr>
        <p class="text-center text-black mb-0">
            &copy; FiconLtda.
        </p>
    </div>

    <!-- ========= BEGIN BASE JS ========= -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/js/theme/default.min.js"></script>
    <script src="~/WebJs/Login/Login.js"></script>
    <!-- ========= END BASE JS ========= -->

</body>
    
</html>