@using UTIL
@using UTIL.Objetos
@model ServiciosClietnes.Models.DatepickerModel
@{
    ViewBag.Title = "Servicios";
    List<ObjetoServicios> ListaServicios = ViewBag.GetServicios;
}
<script src="~/WebJs/Servicios/Servicios.js"></script>

<center><h1 style="color:white">@SessionVariables.Session_Datos_Usuarios.Empresa</h1></center>

<div class="panel panel-inverse table-responsive">
    <div class="panel-heading">
        <h4 class="panel-title">Listado Servicios</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-ng-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12">
            <br />
            <label class="col-xs-1 col-form-label">Desde</label>
            <input type="date" name="fecha" id="fechaIni" class="controlFecha" />
            <label class="col-xs-1 col-form-label">Hasta</label>
            <input type="date" name="fecha" id="fechaFin" class="controlFecha" />
            
            <button type="button" class="btn btn-primary" id="crearTablaServicios">Ver Servicios</button>
            
            <button class="btn btn-success" onclick="descargaExcel()">Exportar excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="container">
        <div class="col-12">
            <br />
            <div class="panel-heading-btn">
                <div class="table-responsive table-bordered" id="tabla">
                </div>
            </div>
        </div>
    </div>
</div>
